<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_closed_loop_mechanism">
    
    <ros2_control name="GazeboSimHardware" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      <!-- <plugin>gazebo_ros2_control/GazeboSimHardware</plugin> -->
    </hardware>
    <joint name="Joint1">
      <command_interface name = "effort"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <!-- <joint name="Joint2">
      <command_interface name = "position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="Joint3">
      <command_interface name = "position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint> -->
  </ros2_control> 

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find simple_closed_loop_mechanism)/config/controllers_configuration.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
