<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dropbear_right_arm">

    <xacro:include filename="$(find dropbear_right_arm)/urdf/ros2_control/dropbear_right_arm.macro.xacro"/>

    <xacro:include filename="$(find dropbear_right_arm)/urdf/ros2_control/arm.ros2_control.xacro"/>


        <ros2_control name = "dropbear_right_arm_system" type = "System">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            
            <xacro:arm_ros2_control prefix="RH"></xacro:arm_ros2_control> 
            <!-- <xacro:arm_ros2_control prefix="LH"></xacro:arm_ros2_control>   -->
            
        </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find dropbear_right_arm)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>