<?xml version="1.0"?>
<robot name= "humanoid"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find dropbear_right_arm)/urdf/materials.xacro"/>  

    <!-- Constants -->
    <xacro:property name = "PI" value = "3.141593"/>


    <!-- Arm xacro -->
    <xacro:include filename="$(find dropbear_right_arm)/urdf/gazebo/arm.xacro"/>

    <!-- ros2 control -->
    <xacro:include filename="$(find dropbear_right_arm)/urdf/ros2_control/dropbear_right_arm.ros2_control.xacro"/>

    <!-- World Link -->
    <link name="world"/>

    <!-- base_link to world joint -->
    <!-- <joint name="base_link_sim_world_joint" type="fixed">
        <origin xyz="0.0 0.0 1.4" rpy="${PI/2} 0.0 0.0"/>
        <parent link="world"/>
        Torso Base link
        <child link="torso_base_link"/>
    </joint> -->


    <!-- Right Arm-->
    <xacro:arm_macro prefix="RH" folder = "rightarm" parent = "world" sign = "1">
        <origin xyz="0.0 0.0 1.50" rpy="0 0 ${-PI/2}"/>
    </xacro:arm_macro>


</robot>
